<div class="row">
    <div class="col-3">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid id fugiat repudiandae quaerat fugit! Pariatur, exercitationem architecto, optio rem eum temporibus, eveniet ipsum libero molestiae veritatis velit fugiat accusamus deleniti!
    </div>
    <div class="col-2">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima enim vel quis animi magni delectus odio at. Eum aliquam eos nisi mollitia voluptatum inventore veritatis, id, nostrum facere officia accusamus.
    </div>
    <div class="col-6">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque ea quo nam ad iure in adipisci quae qui porro facere, est dicta. Quaerat repellendus quas deserunt inventore optio repellat aspernatur?
    </div>
</div>
<router-outlet></router-outlet>