<img height="150px" width="100%" src="https://as01.epimg.net/diarioas/imagenes/2022/05/29/actualidad/1653826510_995351_1653826595_noticia_normal_recorte1.jpg" alt="">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!--<div class="row">
  <div class="col-xl-5 col-md-6 col-xs-12">
  </div>
  <div class="col-xl-7 col-md-6 col-xs-12">
    <div class="row">
      <div class="col-xl-5 col-xs-12">
        <app-botones></app-botones>
      </div>
      <div class="col-xl-7 col-xs-12">
        <app-carusel></app-carusel>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. In expedita quis explicabo temporibus vitae optio accusamus! Dolores eius dolore excepturi repudiandae minus? Ut nostrum excepturi impedit modi, obcaecati consequuntur molestias.
      </div>
      <div class="col-8">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia fugit, ducimus, dignissimos quibusdam veritatis officia dolorem deleniti quod illum eaque unde corrupti. Dolor totam error quae, possimus natus beatae reprehenderit.
      </div>
    </div>
  </div>
</div>
!-->

<router-outlet></router-outlet>
