<h3 style="text-align: center;">clientes</h3>
<button class="btn btn-outline-primary" (click)="abrirDialogo()"><mat-icon>add</mat-icon>Nuevo Cliente</button>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Ci</th>
      <th scope="col">Opcion</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let cliente of clientes;let i=index">
        <td>{{i+1}}</td>
        <td>{{cliente.nombre}} {{cliente.apellido}}</td>
        <td>{{cliente.ci}}</td>
        <td>{{cliente.email}}</td>
        <td>
          <button class="btn btn-success btn-sm" (click)="update(cliente)">
            <mat-icon>edit</mat-icon>
          </button>

          <button class="btn btn-danger btn-sm" (click)="delete(cliente)">
            <mat-icon>delete</mat-icon>
          </button>

        </td>
    </tr>
  </tbody>
</table>

